body {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  line-height: 1.3;
  color: #444;
}

html {
  scroll-behavior: smooth;
}

h1,
h2,
h3 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #000;
}

/* When in PDF export mode make sure superscripts are nice and small and italic */
sup {
  font-size: 0.45rem;
  font-style: italic;
}

/* Avoid the breaking within a section */
.blocks {
  break-inside: avoid;
}

* {
  /* Override default right margin for sidebar*/
  --pagedjs-margin-right: 0.2in;
  --pagedjs-margin-left: 0.2in;
}

/* Customize some of the sizing variables */
:root {
  --sidebar-width: 13rem; /* Shrink sidebar width  */
  --sidebar-background-color: #f7fbff; /* Make sidebar blue */
  --sidebar-horizontal-padding: 0.01in; /* Reduce sidebar padding */
  --decorator-outer-dim: 10px; /* Make position deliniating circles larger */
  --decorator-border: 2px solid #bdd7e7; /* Make timeline a blue as well*/
}

.details .place {
  margin-top: 0.25rem;
}

.main-block:not(.concise) .details div {
  padding-top: 0.005rem;
}

/* Laptop icon isn't centered by default which is lame */
.fa-laptop {
  margin-left: -3px;
}

/* When we have links at bottom in a list make sure they actually are numbered */
#links li {
  list-style-type: decimal;
}

#aside {
  position: relative; /* for disclaimer */
  height: var(--content-area-height);
}

.aside {
  width: calc(var(--sidebar-width) + 9px);
  /* width: var(--sidebar-width); */
  /* padding: 0.6in var(--sidebar-horizontal-padding); */
  line-height: 1.2;
  font-size: 0.8rem;
  float: right;
  position: absolute;
  right: 0;
}

.aside li::before {
  display: none;
  position: relative;
  margin-left: -4.25pt;
  content: auto;
}

/* Move closer to start and up towards header */
.aside ul {
  padding-left: 0 !important;
}

/* Make little circle outline be a light blue */
.decorator::after {
  background-color: #08306b;
}

.skill-bar {
  color: white;
  padding: 0.1rem 0.25rem;
  margin-top: 3px;
  position: relative;
  width: 100%;
}


/* When the class no-timeline is added we remove the after psuedo element from the header... */

/* Removes the psuedo element on h2 tags for this section */
.section.no-timeline h2::after {
  content: none;
}

/* Without adding padding the content is all up on the title */
.section.no-timeline h2 {
  padding-bottom: 1rem;
}

/* Add styles for little cards  */
.info-card{
  width: 220px;
  float: left;
  padding: 0.5rem;
  margin: 0.5rem;
  box-shadow: 1px 1px 4px black;
}

table.experience {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
  line-height: 1;
}
.experience td.position {
  font-weight: bold;
}
.experience td.duration {
  text-align: right;
}
.experience td.employer {
}
.experience td.location {
  text-align: right;
}

/* This is precisely the same as table.experience? */
table.project {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
  line-height: 1;
}

@page{
  size: letter portrait;
  margin: 1in 0.5in 1in 0.25in;
}

*{
  box-sizing: border-box;
}

:root{
  --page-width: 8.5in;
  --margin-right: 0.5in;
  --margin-left: 0.25in;
  --content-width: calc(var(--page-width) - var(--margin-right) - var(--margin-left));
  --sidebar-width: 15rem;
  --sidebar-background-color: #f2f2f2;
  --main-width: calc(var(--content-width) - var(--sidebar-width));
  --decorator-horizontal-margin: 0.2in;

  --sidebar-horizontal-padding: 0.2in;

  /* XXX: using px for very good precision control */
  --decorator-outer-offset-top: 10px;
  --decorator-outer-offset-left: -5.5px;
  --decorator-border-width: 1px;
  --decorator-outer-dim: 9px;
  --decorator-border: 1px solid #ccc;

  --row-blocks-padding-top: 0.5rem;
  --date-block-width: 0.7in;

  --viewer-background-color: #dcdcdc;
  --viewer-pages-spacing: 12px;
  --viewer-shadow-color: #313131;
}

.pagedjs_page {
  --content-area-height: calc(var(--pagedjs-height) - var(--pagedjs-margin-top) - var(--pagedjs-margin-bottom));
  --sidebar-background-width: calc(var(--pagedjs-margin-right) + var(--sidebar-width));
}

@page{
  background: linear-gradient(to left, var(--sidebar-background-color), var(--sidebar-background-color) var(--sidebar-background-width), white var(--sidebar-background-width));
}

html {
  font-size: 10pt;
}

body{
  width: var(--content-width);
  font-weight: 300;
  line-height: 1.3;
  color: #444;
  hyphens: auto;
}

h1, h2, h3{
  margin: 0;
  color: #000;
}

#main > h1, #aside > h1, #disclaimer > h2 {
  display: none;
}

li {
  list-style-type: none;
  margin-bottom: 0;
}

a{
  text-decoration: none;
}

img{
  max-width: 100%;
}

#main{
  width: var(--main-width);
  padding: 0 0.25in 0 0;
  font-size: 0.7rem;
  float: left;
}

#contact + ul {
  margin-top: 0.05in;
  padding-left: 0;
  font-weight: 400;
  line-height: 1.75;
}

#contact li > i {
  width: 0.9rem; /* for text alignment */
  text-align: right;
}

/** big title **/
h1, h2{
  text-transform: uppercase;
}

#title{
  position: relative;
  left: 0.55in;
  margin: auto 0.55in 0.3in auto;
  line-height: 1.2;
}

#title h1{
  font-weight: 300;
  font-size: 1.8rem;
  line-height: 1.5;
}

#title h3{
  font-size: 0.8rem;
}

.main-block{
  margin-top: 0.1in;
}

#main h2 {
  position: relative;
  top: var(--row-blocks-padding-top);
  font-weight: 400;
  font-size: 1.1rem;
  color: #555;
}

#main h2 > .fa-suitcase{
  top: 1pt;
}

#main h2 > .fa-folder-open{
  top: 1.5pt;
}

/**** individual row blocks (date - decorator - details) ****/

.blocks{
  display: flex;
  flex-flow: row nowrap;
}

.blocks > div{
  padding-top: var(--row-blocks-padding-top);
}

.date{
  flex: 0 0 var(--date-block-width);
  padding-top: calc(var(--row-blocks-padding-top) + 0.25rem) !important;
  padding-right: var(--decorator-horizontal-margin);
  font-size: 0.7rem;
  text-align: right;
  line-height: 1;
  max-width: var(--date-block-width);
}

.date span{
  display: block;
  text-align: center;
}

.date span:nth-child(2)::before{
  position: relative;
  top: 0.1rem;
  right: 0;
  display: block;
  height: 1rem;
  content: '|';
}

.decorator{
  flex: 0 0 0;
  position: relative;
  width: 2pt;
  min-height: 100%;
  border-left: var(--decorator-border);
}

/*
 * XXX: Use two filled circles to achieve the circle-with-white-border effect.
 * The normal technique of only using one pseudo element and
 * border: 1px solid white; style makes firefox erroneously either:
 * 1) overflows the grayshade background (if no background-clip is set), or
 * 2) shows decorator line which should've been masked by the white border
 *
 */

.decorator::before{
  position: absolute;
  top: var(--decorator-outer-offset-top);
  left: var(--decorator-outer-offset-left);
  content: ' ';
  display: block;
  width: var(--decorator-outer-dim);
  height: var(--decorator-outer-dim);
  border-radius: calc(var(--decorator-outer-dim) / 2);
  background-color: #fff;
}

.decorator::after{
  position: absolute;
  top: calc(var(--decorator-outer-offset-top) + var(--decorator-border-width));
  left: calc(var(--decorator-outer-offset-left) + var(--decorator-border-width));
  content: ' ';
  display: block;
  width: calc(var(--decorator-outer-dim) - (var(--decorator-border-width) * 2));
  height: calc(var(--decorator-outer-dim) - (var(--decorator-border-width) * 2));
  border-radius: calc((var(--decorator-outer-dim) - (var(--decorator-border-width) * 2)) / 2);
  background-color: #555;
}

.blocks:last-child .decorator{ /* slightly shortens it */
  margin-bottom: 0.25in;
}

/***** fine-tunes on the details block where the real juice is *****/

.details{
  flex: 1 0 0;
  padding-left: var(--decorator-horizontal-margin);
  padding-top: calc(var(--row-blocks-padding-top) - 0.05rem) !important; /* not sure why but this is needed for better alignment */
}

.details header{
  color: #000;
}

.details h3{
  font-size: 0.8rem;
}

.main-block:not(.concise) .details div{
  margin: 0.18in 0 0.1in 0;
}

.main-block:not(.concise) .details div:empty {
  margin: 0;
}

.main-block:not(.concise) .blocks:last-child .details div{
  margin-bottom: 0;
}

.main-block.concise .details div:not(.concise){
  /* use padding to work around the fact that margin doesn't affect floated
     neighboring elements */
  padding: 0.05in 0 0.07in 0;
}

.details .place{
  float: left;
  font-size: 0.75rem;
}

.details .location{
  float: right;
}

.details div{
  clear: both;
}

/***** fine-tunes on the lists... *****/

#main ul {
  padding-left: 0.07in;
  margin: 0.08in 0;
}

/****** customize list symbol style ******/
#main li::before {
  position: relative;
  margin-left: -4.25pt;
  content: '• ';
}

.aside li::before {
  content: none;
}

.concise ul {
  padding: 0;
  list-style: none;
  margin-bottom: 0;
}

.concise ul > li {
  /*
  float: left;
  */
  margin-left: 6px;
  margin-bottom: 0;
  display: inline;
}

/* sidebar */

.aside h2{
  font-weight: 400;
  font-size: 1.1rem;
}

.aside .level2{
  margin-top: 0.5in;
}

#skills{
  line-height: 1.5;
}

#skills ul{
  margin: 0.05in 0 0.15in;
  padding: 0;
}

#disclaimer{
  position: absolute;
  bottom: 0;
  right: var(--sidebar-horizontal-padding);
  font-size: 0.75rem;
  font-style: italic;
  line-height: 1.1;
  text-align: right;
  color: #777;
}

#disclaimer code{
  color: #666;
  font-weight: 400;
  font-style: normal;
}

#publications > ul {
  /* list-style-position: inside; */
  /* padding-left: 0; */
}

#publications > ul > li {
  list-style-type: none;
}

/* Page breaks */

h2 {
  break-after: avoid;
}

.blocks {
  break-inside: avoid;
}

/* Paged.js viewer */

@media screen {
  body {
    background-color: var(--viewer-background-color);
    margin: 0; /* for mobile */
    width: calc(var(--pagedjs-width) + 2 * var(--viewer-pages-spacing)); /* for mobile */
  }
   .pagedjs_pages {
    max-width: var(--pagedjs-width);
    margin: 0 auto;
    display: flex;
    flex-direction: column;
  }
   .pagedjs_page {
    box-shadow: 0 0 calc(0.66667 * var(--viewer-pages-spacing)) var(--viewer-shadow-color);
    margin: var(--viewer-pages-spacing) 0;
  }
}
 @media screen and (min-width: 8.5in) {
  /* not a mobile */
  body {
    margin: auto;
    width: unset;
  }
}
