/* From https://ulyngs.github.io/pagedown-cv/ */
@page{
  size: A4 portrait;
}

body {
  font-family: "Latin Modern Roman", "Book Antiqua", Palatino, serif
}

:root{
  --page-width: 8.5in;
  --pagedjs-margin-right: 0.7in;
  --pagedjs-margin-left: 0.7in;
  --pagedjs-margin-top: 0.5in;
  --pagedjs-margin-bottom: 0.5in;
  --root-font-size: 12pt;
  --viewer-pages-spacing: 12px;
  --viewer-shadow-color: #313131; /* this marks the pages */
}

/* Paged.js viewer */
@media screen {
  body {
    background-color: var(--viewer-background-color);
    margin: 0; /* for mobile */
    width: calc(var(--pagedjs-width) + 2 * var(--viewer-pages-spacing)); /* for mobile */
  }
   .pagedjs_pages {
    max-width: var(--pagedjs-width);
    margin: 0 auto;
    display: flex;
    flex-direction: column;
  }
   .pagedjs_page {
    box-shadow: 0 0 calc(0.66667 * var(--viewer-pages-spacing)) var(--viewer-shadow-color);
    margin: var(--viewer-pages-spacing) 0;
  }
}
 @media screen and (min-width: 8.5in) {
  /* not a mobile */
  body {
    margin: auto;
    width: unset;
  }
}


/* create ability to insert pagebreaks with br.pagebreak */
br.pageBreak {
    page-break-after: always;
}


/* remove decoration on info-box */
.info-box a {
  color: black;
  text-decoration: none;
}


p, li {
  font-size: var(--root-font-size);
  line-height: 125%;
}

/* title */
h1.title {
  text-align: center;
  font-weight: normal;
  font-size: 2.3em;
  line-height: 110%;
}

/* section headers */
h2 {
  color: #710C0C;
  border-bottom: 1px solid black;
  margin-top: 0.6em;
  margin-bottom: 0.3em;
  font-size: 1.5em;
  font-weight: normal;
}


/* PAGE 1 */
h2.summary,
h2.box {
  margin-top: 0.1em;
  margin-bottom: 0;
}

.box {
  visibility: hidden;
  margin-bottom: 0;
}
.info-box {
  background-color: #F5DD9E;
  padding: 10px 2px;
  margin: 0;
  line-height: 125%;
}
.info-box thead {
  display: none;
}
.info-box td:first-child{
  width: 12%;
}

/* if you use links to footnotes*/
.footnote-ref sup {
  vertical-align: top;
  margin-left: 1px;
}

#contact ul {
  padding-inline-start: 0;
}
#contact li {
  list-style-type: none;
}
.grid-container {
  display: grid;
  grid-template-columns: 50% 44%;
  grid-column-gap: 6%;
}

/* remove header in select table */
.nohead thead{
  display: none;
}
/* set the width of the first column in the tables */
/* this will make td column resizing work */
.technical tbody,
.education tbody,
.set-width tbody {
  display: block;
}

.set-width td:first-child {
  width: 20%;
  text-align: left;
}

.publications td,
.talks td {
  vertical-align: top;
  font-size: 0.9em;
  text-align: left;
}



/* don't make page breaks inside an entry */
tr {
  break-inside: avoid;
}

.vertical-top td {
  vertical-align: top;
}

.smaller-font {
  font-size: 0.9em;
}

td {
  vertical-align: top;

}

.work-title {
  font-size: 1.2em;
}
.work-break {
  height: 100px;
}



/****** Page numbers ******/
@page {
  @top-left {
    content: none;
  }
  @top-right {
    content: none;
  }
  @bottom-right {
    content: counter(page);
  }
}
.pagedjs_margin.pagedjs_margin-bottom-right.hasContent {
  align-items: baseline;
}
