@import url('https://fonts.googleapis.com/css?family=Lato:300italic,700italic,300,700|Oswald|Open+Sans:400,400i,600,600i,700,700i');

/* Options for name on main page. */
@import url('https://fonts.googleapis.com/css?family=Dosis|Gugi|Montserrat+Alternates|Nixie+One|Orbitron|Philosopher');

html,
body {
  background: #fff;
  color: #333;
  font-family: Lato, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-size: 14px;
}

.wookie-handle {
  font-family: Orbitron;
  font-size: 12rem;
  /*padding-bottom: 18rem;*/
  /*padding-top: 18rem;*/
}

.wookie-logo {
/*  display: block;
  margin-left: auto;
  margin-right: auto;*/
  padding-bottom: 4%;
}

#header {
  margin-top: 2em;
}

#site-logo {
  float: right;
}

#site-title,
a:link,
a:active,
a:visited,
a:hover {
  color: #1da8be;
}

#site-title {
  padding-top: 0px;
  padding-bottom: 0px;
}

#site-title a:link,
#site-title a:active,
#site-title a:visited,
#site-title a:hover {
  text-decoration: none;
}

#site-slogan,
#footer {
  color: #777;
}

#site-slogan {
  margin-top: .75em;
}

nav.navbar {
  clear: both;
  /*margin-top: 3em;*/
  padding-top: 0px;
  padding-bottom: 0px;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav ul.first > li {
  display: block;
  margin: .5em 0;
}

nav ul.second,
nav ul.third {
  display: none;
}

nav a:link,
nav a:active,
nav a:visited,
nav a:hover {
  text-decoration: none;
}

nav a:link,
nav a:active,
nav a:visited {
  color: #444;
}

nav a:hover {
  color: #1da8be;
}

#header {
  /*border-bottom: 1px dashed #aaa;*/
}

/*#content,*/
#footer,
hr {
  /*border-top: 1px dashed #aaa;*/
}

#content {
  margin-top: 4em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  margin-bottom: 5px;
  margin-top: 5px;
}

h3 {
  font-size: 1.5rem;
  margin-bottom: 15px;
}

h2.resume {
  border-bottom: 1px solid #ccc;
}

strong, b {
  font-weight: bold;
}

#article p, #article ol li, #article ul li {
  text-align: justify;
}

#article blockquote {
  /*font-family: 'Lora', serif;*/
  font-style: italic;
  /*font-size: 1.05em;*/
  line-height: 1.5em;
  padding-left: 30px;
  padding-right: 30px;
}

#article blockquote cite {
  display: block;
  font-style: normal;
  text-align: left;
}
#article blockquote cite:before {
  content: "\2014 \2009 ";
}

#article dl dt {
  font-weight: bold;
}

#article dl dt em {
  font-weight: normal;
}

#article .timestamp,
#article .tags,
#article .tags a:link,
#article .tags a:active,
#article .tags a:visited,
#article .tags a:hover {
  color: #555;
  font-size: 85%;
  /*padding: 5px;*/
  padding: .25em .4em;
  /*border-radius: 5px;*/
  border-radius: .25rem;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
}

hr {
  border-bottom: 0;
  border-left: 0;
  border-right: 0;
  margin: 2.5em 0;
}

span.upper {
  text-transform: uppercase;
}

img.right {
  float: right;
  margin: 0 0 1em 1em;
}

img.left {
  float: left;
  margin: 0 1em 1em 0;
}

table {
  /*border-collapse: collapse;*/
  margin-top: 5px;
  margin-bottom: 5px;
}

#footer {
  clear: both;
  padding-top: 2em;
  font-size: 90%;
}

.talk {
}
.talk .title {
  font-size: 3em;
}

ul.pagination {
  padding: 0;
  list-style-type: none;
  float: right;
  margin-bottom: 5px;
}

.pagination li {
  display: list-item;
}

.pagination li a {
  /*padding: 5px;*/
  border: 1px solid #dee2e6;
  transition: background-color .3s;
  margin-left: -1px;
  padding: .4rem .6rem;
}

.pagination a {
  text-decoration: none;
}

.pagination .disabled a {
  pointer-events: none;
  color: grey;
}

.pagination .active a {
  background-color: #4CAF50;
  color: white;
}

.pagination li:not(.active) a:hover {
  background-color: #ddd;
}

.pagination-bottom {
  padding-top: 2%;
}

th, td {
  vertical-align: baseline;
}

table.experience, table.education {
  width: 100%;
}

table.experience td.duration,
table.education td.duration {
  padding-left: 10px;
  text-align: right;
}

a.btn {
  color: white;
}

/* FIGURE ------------------------------------------------------------------ */

figcaption {
  font-style: italic;
}

/* LISTS ------------------------------------------------------------------- */

ol, ul {
  /* padding-left: 0px; */
  /* list-style-position: inside; */
}

li > p {
  margin-bottom: 0;
}
li > div > pre {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
li > ul, li > ol {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

/* GIST -------------------------------------------------------------------- */

.gist .gist-file {
  border-style: dashed !important;
  border-color: black !important;
  border-width: 1px;
}

.gist .gist-file > .gist-data article {
  font-family: Lato, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-size: 14px;
}

.gist .gist-file > .gist-data .markdown-body h2 {
  border-bottom: none;
}

/* MEDIA ------------------------------------------------------------------- */

@media (min-width: 768px) {
}

@media (min-width: 992px) {
  nav ul li a {
    display: block;
    font-size: 90%;
  }

  nav ul.first > li {
    display: inline-block;
    position: relative;
    padding-right: 1.25em;
  }

  nav ul.second,
  nav ul.third {
    position: absolute;
    background: #fff;
    width: 212px;
    border: 1px solid #ddd;
    box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.25);
  }

  nav ul.second {
    z-index: 2;
  }

  nav ul.third {
    z-index: 3;
  }

  nav ul.second li {
    position: relative;
  }

  nav ul.third {
    left: 212px;
    top: -1px;
  }

  nav ul.first li:hover ul.second,
  nav ul.second li:hover ul.third {
    display: block;
  }

  nav ul.second li a,
  nav ul.third li a {
    padding: 0.75em 1em;
  }
}

@media not print {
  .onlyprint {
    display: none;
  }
}

@media print {
  .notprint {
    display: none;
  }
  header nav, footer {
    display: none;
  }
  @page {
    margin: 0.5cm;
  }
  a {
    text-decoration: none !important;;
  }
}
